@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
}

body {
    height: 200vh;
    background-image: linear-gradient(to bottom, #00B2CA, #7dcfb6);
}

.wind {
    height: 100vh;
}

#spacer-1 {
    height: 15vh;
}

#spacer-2 {
    height: 12vh;
}

#title {
    font-size: 40px;
}

.block {
    margin: 0 auto 0;
    width: 40vw;
    padding: 3%;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
    background-color: white;
}

.block .ip-area {
    margin: 5vh auto 0;
    width: 60%;
    text-align: center;
}

.block .ip-area .ques {
    font-size: 16px;
    text-align: left;
}

.block .ip-area input {
    width: 100%;
    border: 1px solid gray;
    padding: 1.5% 3%;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.block .ip-area select {
    width: 100%;
    border: 1px solid gray;
    padding: 1.5% 3%;
    border-radius: 5px;
    margin-bottom: 1vh;
}

#move {
    width: 60%;
    margin: 0.5vh auto 0;
    border: none;
    border-radius: 5px;
    background-color: #F4C095;
    transition: 0.3s;
    padding: 1.5% 3%;
    transition: 0.3s;
}

#move:hover {
    cursor: pointer;
    opacity: 0.75;
}

#bt-wrapper {
    margin-top: 0.5vh;
}

#bt-wrapper button {
    width: 30%;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    padding: 1.5% 3%;
}

#bt-wrapper button:hover {
    cursor: pointer;
    transition: 0.3s;
}

#submit {
    background-color: #F4C095;
}

#submit:hover {
    opacity: 0.75;
}

#back {
    background-color: rgb(187, 187, 187)
}

#back:hover {
    background-color: #ccc;
}

#error {
    color: red;
    font-size: 23px;
}

#alt {
    color: black;
    padding-top: 1vh;
    text-decoration: none;
}

#alt:hover {
    text-decoration: underline;
}