@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
}

#weightloss-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-page {
  display: flex;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
}

.central {
  flex-grow: 3;

  display: flex;
  flex-direction: column;

  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.right {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
}

/* .charts {
  margin-left: auto;
  margin-right: auto;
} */

.sidebar {
  /* margin: 0;
  padding: 0; */
  flex-grow: 1;
  background-color: #f1f1f1;
  /* position: fixed; */
  height: 100%;
  /* overflow: auto; */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.not-sidebar {
  display: flex;
  flex-grow: 7;
  flex-direction: row;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
