h1 {
  color: red;
}

.dashboard-page {
  display: flex;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
}

.sidebar {
  /* margin: 0;
  padding: 0; */
  flex-grow: 1;
  background-color: #f1f1f1;
  /* position: fixed; */
  height: 100%;
  /* overflow: auto; */
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.not-sidebar {
  flex-grow: 6;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
