@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #00b2ca, #7dcfb6);
}

/* Top Nav */
nav {
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding-top: 2vh;
  color: white;
  background-color: #1d4e89;
}
nav h1 {
  flex: 1;
  font-size: 35px;
  font-weight: bold;
  padding-left: 1.5vw;
  flex-grow: 1;
}
nav #nav-spacer {
  flex: 7;
  width: 80vw;
}
nav h3 {
  flex: 1;
  padding-top: 1.5vh;
  padding-right: 1.5vw;
  flex-grow: 1;
}
nav h3:hover {
  cursor: pointer; /* What is this for? */
}

/* Lower Area */
#container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#container .sidebar {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid gray;
}
#container .sidebar .sidebar-content {
  width: 90%;
  margin: 1vh auto;
  padding: 4% 5%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
  display: flex;
  align-items: center;
  border: 3px solid white;
  align-self: flex-start;
}
#container .sidebar .sidebar-content:hover {
  background-color: #ccc;
  cursor: pointer;
}
#container .sidebar #selected {
  border: 5px solid #1d4e89;
}
#container .sidebar .sidebar-content h2 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-left: 1vh;
}
#container .not-sidebar {
  display: flex;
  flex: 7;
  flex-direction: row;
}

#container .not-sidebar .central {
  flex: 3;

  display: flex;
  flex-direction: column;

  text-align: center;
}

#container .not-sidebar .central .numbers {
  display: flex;
  justify-content: space-evenly;
}

#container .not-sidebar .central .numbers .numbers-content {
  width: 30%;
  height: 15vh;
  margin: 1vh auto;
  padding: 4% 5%;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container .not-sidebar .central .numbers .numbers-content:hover {
  background-color: #ccc;
  cursor: pointer;
}

#container .not-sidebar .right {
  flex: 1;
  border-left: 1px solid gray;

  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Settings */
