<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In to HealWealth</title>
    <link rel="stylesheet" href=./../../static/css/login.css>
</head>
<body>
    <form class="inputs" method="POST" action="/login/">
        {% csrf_token %}
        <div id="spacer-1"></div>
        <div class="block">
            <h1 id="title">Log In to HealthWealth</h1>
            <h3 id="error">Incorrect Credentials</h3>
            <div class="ip-area">
                <h4 class="ques">Username</h4>
                {{ login.username }}
                <h4 class="ques">Password</h4>
                {{ login.password }}
            </div>
            <button type="submit" id="move">Log In</button>
            <br><a href="/signup" id="alt">New? Sign Up</a>
        </div>
    </form>
</body>
</html>