<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="../../static/js/dashboard.js"></script>
    <script defer src="../../static/js/modal.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    {% load static %}
    <nav>
        <img id="logo-pic" src="{% static 'healthwealth.png' %}">
        <h1>HealthWealth</h1>
        <div id="nav-spacer"></div>
        <h3>Welcome, {{ name }}</h3>
    </nav>
    <div id="container">
        <div class="sidebar">
            <div class="sidebar-content" onclick="location.href = '/dashboard'" id="selected">
                <i class="material-icons">assessment</i>
                <h2>Overview</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/resources'">
                <i class="material-icons">volunteer_activism</i>
                <h2>Resources</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/settings'">
                <i class="material-icons">settings</i>
                <h2>Settings</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/help'">
                <i class="material-icons">help</i>
                <h2>How to Use</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/about'">
                <i class="material-icons">info</i>
                <h2>About</h2>
            </div>
        </div>
        <div id="display" class="not-sidebar">
            <div class="central">
                <h1 class="section-label">Dashboard</h1>
                <div class="numbers">
                    <div class="numbers-content" id="chart-weight">
                        <h3>weight: {{ weight }}lbs</h3>
                    </div>
                    <div class="numbers-content" id="chart-height">
                        <h3>Sleep: ~7.6hrs</h3>
                    </div>
                    <div class="numbers-content" id="chart-bmi">
                        <h3>BMI: {{ bmi }}</h3>
                    </div>
                </div>
                <div class="charts">
                    <canvas id="chart1" style="height: 48vh; width: 57.5vw;"></canvas>
                    <canvas id="chart2" style="height: 48vh; width: 57.5vw; display: none;"></canvas>
                    <canvas id="chart3" style="height: 48vh; width: 57.5vw; display: none;"></canvas>
                </div>
            </div>
            <div class="right">
                <div id="notif-wrapper">
                    <h1 class="section-label">Notifications</h1>
                    <div id="notif-post">
                        
                        <div class="notif-card">
                            <h3>Sleep 1.3hrs More</h3>
                            <h6>15min ago</h6>
                        </div>
                        <div class="notif-card">
                            <h3>Take a look at your Resources</h3>
                            <h6>47min ago</h6>
                        </div>
                        <div class="notif-card">
                            <h3>Check out your daily insights on Dashboard</h3>
                            <h6>1h ago</h6>
                        </div>
                        <div class="notif-card">
                            <h3>Make sure to drink Water!</h3>
                            <h6>3h ago</h6>
                        </div>
                        <div class="notif-card">
                            <h3>Confirm your Email</h3>
                            <h6>6h ago</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <h1>How many hours did you sleep today?</h1>
        <input type="number">
        <button id="bt-close">Submit</button>
    </div>
  
  </div>
</body>
</html>