<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="../../static/js/dashboard.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <h1>HealthWealth</h1>
        <div id="nav-spacer"></div>
        <h3>Welcome, {{ name }}</h3>
    </nav>
    <div id="container">
        <div class="sidebar">
            <a class="active" href="/dashboard">Home</a>
            <a href="/resources">Resources</a>
            <a href="/settings">Settings</a>
            <a href="/about">About</a>
        </div>
        <div id="display" class="not-sidebar">
            <button>Asdasdasdas</button>
            <button>Basdasdasdaas</button>
            <button>Casdasdasdas</button>
        </div>
    </div>
</body>
</html>