<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="../../static/js/dashboard.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    {% load static %}
    <nav>
        <img id="logo-pic" src="{% static 'healthwealth.png' %}">
        <h1>HealthWealth</h1>
        <div id="nav-spacer"></div>
        <h3>Welcome, {{ name }}</h3>
    </nav>
    <div id="container">
        <div class="sidebar">
            <div class="sidebar-content" onclick="location.href = '/dashboard'">
                <i class="material-icons">assessment</i>
                <h2>Overview</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/resources'" id="selected">
                <i class="material-icons">volunteer_activism</i>
                <h2>Resources</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/settings'">
                <i class="material-icons">settings</i>
                <h2>Settings</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/help'">
                <i class="material-icons">help</i>
                <h2>How to Use</h2>
            </div>
            <div class="sidebar-content" onclick="location.href = '/about'">
                <i class="material-icons">info</i>
                <h2>About</h2>
            </div>
        </div>
        <div id="display" class="not-sidebar">
            <div class="resource-page">
                <div class="resources">
                    <h1>Resources to Improve Sleep</h1>
                    <br>
                    <ul class="resource-links">
                        <li><a href="https://www.cdc.gov/sleep/about_sleep/sleep_hygiene.html" target="_blank">CDC Sleep Hygiene</a></li>
                        <li><a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/sleep/art-20048379" target="_blank">MayoClinic Sleep</a></li>
                        <li><a href="https://www.health.harvard.edu/staying-healthy/improving-sleep-a-guide-to-a-good-nights-rest" target="_blank">Harvard Health</a></li>
                      </ul>
                </div>
                <div class="resources">
                    <h1>Resources to Improve Exercise Regiment</h1>
                    <br>
                    <ul class="resource-links">
                        <li><a href="https://www.cdc.gov/sleep/about_sleep/sleep_hygiene.html" target="_blank">CDC Sleep Hygiene</a></li>
                        <li><a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/sleep/art-20048379" target="_blank">MayoClinic Sleep</a></li>
                        <li><a href="https://www.health.harvard.edu/staying-healthy/improving-sleep-a-guide-to-a-good-nights-rest" target="_blank">Harvard Health</a></li>
                    </ul>
                </div>
            </div>
            <div class="resource-plans">
                <h1>Exercise Plans</h1>
                <br>
                <ul class="resource-links">
                    <li><p>Go for a 30 minute jog.</p></li>
                    <li><p>Take a 20 minute power nap.</p></li>
                    <li><p>Speak to your therapist.</p></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>